@model CarPool.Models.IndexVModel
@{
    ViewBag.Title = "首页";
}
<style type="text/css">
    .mui-slider .mui-slider-group .mui-slider-item img {
        max-height: 180px;
    }

    .mui-control-content {
        background-color: white;
        min-height: 350px;
    }

        .mui-control-content .mui-loading {
            margin-top: 50px;
        }

    .mui-table-view-cell span {
        float: left;
        line-height: 2em;
    }

    .mui-table-view-cell .route {
        color: #333;
        font-size: 1.3em;
        font-weight: bold;
    }

    .mui-table-view-cell .price {
        color: #FF6103;
        font-weight: bold;
        margin-right: 20px;
        font-size: 1.2em;
    }
</style>
<!--轮播图-->
<div id="slider" class="mui-slider">
    <div class="mui-slider-group mui-slider-loop">
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        @if (Model.Adverts.Count > 0)
        {
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                    <img src="@Model.Adverts[0].ImageUrl">
                </a>
            </div>
            foreach (var ad in Model.Adverts)
            {
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="@Url.Content(ad.ImageUrl)">
                    </a>
                </div>
            }
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="#">
                    <img src="@Model.Adverts[0].ImageUrl">
                </a>
            </div>
        }
    </div>
    <div class="mui-slider-indicator">
        <div class="mui-indicator mui-active"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
        <div class="mui-indicator"></div>
    </div>
</div>
<!--搜索框-->
<div class="mui-content-padded" style="margin-top: 5px;margin-bottom:-15px;">
    <div class="mui-input-row mui-search">
        <input id="search" type="search" class="mui-input-clear" placeholder="搜索拼车" readonly>
    </div>
</div>
<!--列表-->
<div id="tabList" class="mui-slider">
    <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
        <a class="mui-control-item" href="#messageOfCarOwner">
            找车主
        </a>
        <a class="mui-control-item" href="#messageOfPassenger">
            找乘客
        </a>
    </div>
    <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
    <div class="mui-slider-group">
        <div id="messageOfCarOwner" class="mui-slider-item mui-control-content  mui-active">
            <div id="scroll_MsgOfCarOwner" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul id="msgCarOwner" class="mui-table-view"></ul>
                </div>
            </div>
        </div>
        <div id="messageOfPassenger" class="mui-slider-item mui-control-content">
            <div id="scroll_MsgOfPassenger" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul id="msgOfPassenger" class="mui-table-view"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/mui/js/mui.js"></script>
<script src="~/Content/mui/js/mui.pullToRefresh.js"></script>
<script src="~/Content/mui/js/mui.pullToRefresh.material.js"></script>

<script type="text/javascript" charset="utf-8">
    (function (mui, $) {
        var page = {
            slider: mui("#slider"),
            pagerOfCarOwnerList: {
                pageNo: 1,//页数
                rows: 5,//每页行数
            },
            pagerOfPassengerList: {
                pageNo: 1,//页数
                rows: 5,//每页行数
            },
            search:''
        };
        //滚动条
        mui('.mui-scroll-wrapper').scroll({
            indicators: true
        });
        //初始化
        mui('#scroll_MsgOfCarOwner').pullRefresh({
            down: {

            },
            up: {
                height: 50,
                auto: true,
                contentrefresh: "正在加载...",
                contentnomore: '没有更多数据了',
                callback: function () {
                    var self = this;
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("LoadMessage")',
                        data: { page: page.pagerOfCarOwnerList.pageNo, rows: page.pagerOfCarOwnerList.rows, msgType: 0, msg: page.search },
                        success: function (data) {
                            $('#msgCarOwner').append(data);
                            page.pagerOfCarOwnerList.pageNo++;
                            self.endPullupToRefresh(data == '');
                        }
                    });
                }
            }
        });
        //初始化下拉刷新
        mui('#scroll_MsgOfPassenger').pullRefresh({
            down: {

            },
            up: {
                height: 50,
                auto: true,
                contentrefresh: "正在加载...",
                contentnomore: '没有更多数据了',
                callback: function () {
                    var self = this;
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("LoadMessage")',
                        data: { page: page.pagerOfPassengerList.pageNo, rows: page.pagerOfPassengerList.rows, msgType: 1, msg: page.search },
                        success: function (data) {
                            $('#msgOfPassenger').append(data);
                            page.pagerOfPassengerList.pageNo++;
                            self.endPullupToRefresh(data == '');
                        }
                    });
                }
            }
        });
        //图片滚动
        page.slider.slider({
            interval: 5000
        });

        //列表点击事件绑定
        mui(".mui-table-view").on('tap', '.mui-table-view-cell', function () {
            var id = this.getAttribute("msgId");
            window.location = '@Url.Action("MessageDetail","Home")' + '?id=' + id;
        })

        function reload(msg){
            page.pagerOfPassengerList.pageNo = 1;
            page.pagerOfCarOwnerList.pageNo = 1;
            page.search = msg;
            $.ajax({
                type: 'post',
                url: '@Url.Action("LoadMessage")',
                data: { page: page.pagerOfCarOwnerList.pageNo, rows: page.pagerOfCarOwnerList.rows, msgType: 0,msg:page.search },
                success: function (data) {
                    $('#msgCarOwner').html(data);
                    page.pagerOfCarOwnerList.pageNo++;
                    mui('#scroll_MsgOfCarOwner').pullRefresh().refresh(true);
                }
            });

            $.ajax({
                type: 'post',
                url: '@Url.Action("LoadMessage")',
                data: { page: page.pagerOfPassengerList.pageNo, rows: page.pagerOfPassengerList.rows, msgType: 1,msg:page.search },
                success: function (data) {
                    $('#msgOfPassenger').html(data);
                    page.pagerOfPassengerList.pageNo++;
                    mui('#scroll_MsgOfPassenger').pullRefresh().refresh(true);
                }
            });
        }

        $("#search").click( function () {
            mui.prompt("请输入起点或者终点", "起点或终点", "搜索", ['确认', '取消'], function (e) {
                e.index == 0 && reload(e.value);
                })
        });
    })(mui, $);

</script>
