@model CarPool.Models.MessageVModel
@{
    ViewBag.Title = "发布";
}
<link href="~/Content/mui/css/mui.picker.all.css" rel="stylesheet" />
<script src="~/Content/mui/js/mui.picker.min.js"></script>
<div class="mui-content">
    <div id="slider" class="mui-slider">
        <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item" href="#messageOfCarOwner">
                我要找人
            </a>
            <a class="mui-control-item" href="#messageOfPassenger">
                我要找车
            </a>
        </div>
        <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
        <div class="mui-slider-group">
            <div id="messageOfCarOwner" class="mui-slider-item mui-control-content mui-active">
                <form id='MsgOfCarOwner-form' class="mui-input-group" action="@Url.Action("PublishMessage")" method="post">
                    
                    <div class="mui-input-row">
                        <label>起点</label>
                        @Html.TextBoxFor(t => t.StartName, new { @class = "mui-input-clear mui-input", @placeholder = "您从哪出发?" })
                    </div>
                    <div class="mui-input-row">
                        <label>目的地</label>
                        @Html.TextBoxFor(t => t.EndName, new { @class = "mui-input-clear mui-input", @placeholder = "您要到哪?"})
                    </div>
                    <div class="mui-input-row">
                        <label>出发时间</label>
                        @Html.TextBoxFor(t => t.StartTime, new { @class = "mui-input-clear mui-input time-picker", @placeholder = "啥时候出发?", @readonly = "readonly" })
                    </div>
                    <div class="mui-input-row">
                        <label>价格</label>
                        @Html.TextBoxFor(t => t.Price, new { @class = "mui-input-clear mui-input", @placeholder = "价格" })
                    </div>
                    <div class="mui-input-row">
                        <label>座位</label>
                        @Html.TextBoxFor(t => t.SeatCount, new { @class = "mui-input-clear mui-input", @placeholder = "空座数" })
                    </div>
                    <div class="mui-input-row">
                        <label>联系人</label>
                        @Html.TextBoxFor(t => t.Contact, new { @class = "mui-input-clear mui-input", @placeholder = "请输入联系人" })
                    </div>
                    <div class="mui-input-row">
                        <label>联系电话</label>
                        @Html.TextBoxFor(t => t.Phone, new { @class = "mui-input-clear mui-input", @placeholder = "请输入联系电话" })
                    </div>
                    <div class="mui-input-row" style="height:auto;">
                        <label>描述</label>
                        @Html.TextAreaFor(t => t.Description, new { @class = "mui-input-clear mui-input", @placeholder = "请输入描述内容" })
                    </div>
                    <div class="mui-content-padded">
                        <a id="btnPublishMsgOfCarOwner" class="mui-btn mui-btn-block mui-btn-primary">发布</a>
                    </div>
                </form>
            </div>
            <div id="messageOfPassenger" class="mui-slider-item mui-control-content">
                <form id="MsgOrPassenger-form" class="mui-input-group" action="@Url.Action("PublishMessage")" method="post">
                    
                    <div class="mui-input-row">
                        <label>起点</label>
                        @Html.TextBoxFor(t => t.StartName, new { @class = "mui-input-clear mui-input", @placeholder = "您从哪出发?" })
                    </div>
                    <div class="mui-input-row">
                        <label>目的地</label>
                        @Html.TextBoxFor(t => t.EndName, new { @class = "mui-input-clear mui-input", @placeholder = "您要到哪?" })
                    </div>
                    <div class="mui-input-row">
                        <label>出发时间</label>
                        @Html.TextBoxFor(t => t.StartTime, new { @class = "mui-input-clear mui-input time-picker", @placeholder = "啥时候出发?" ,@readonly ="readonly"})
                    </div>
                    <div class="mui-input-row">
                        <label>人数</label>
                        @Html.TextBoxFor(t => t.SeatCount, new { @class = "mui-input-clear mui-input",@type="number", @placeholder = "乘坐人数" })
                    </div>
                    <div class="mui-input-row">
                        <label>联系人</label>
                        @Html.TextBoxFor(t => t.Contact, new { @class = "mui-input-clear mui-input", @placeholder = "请输入联系人" })
                    </div>
                    <div class="mui-input-row">
                        <label>联系电话</label>
                        @Html.TextBoxFor(t => t.Phone, new { @class = "mui-input-clear mui-input", @placeholder = "请输入联系电话" })
                    </div>
                    <div class="mui-input-row" style="height:auto;">
                        <label>描述</label>
                        @Html.TextAreaFor(t => t.Description, new { @class = "mui-input-clear mui-input", @placeholder = "请输入描述内容" })
                    </div>
                    <div class="mui-content-padded">
                        <a id="btnPublishMsgOfPassenger" class="mui-btn mui-btn-block mui-btn-primary">发布</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    var page = {};
    //时间选择
    $('.time-picker').focus(function (e) {
        var $input = $(e.target);
        if (!page.datePicker) {
            page.datePicker = new mui.DtPicker();
        }
        page.datePicker.show(function (selectItems) {
            $input.val(selectItems.text);
        })
    });

    $(document).ready(function () {
        $("#btnPublishMsgOfCarOwner").click(function () {
            var data = $("#MsgOfCarOwner-form").serialize();
            data += "&MessageType=0";
            var options = {
                url: '@Url.Action("PublishMessage")',
                type: 'post',
                dataType: 'json',
                data:data,
                onSuccess: function (data) {
                    window.location = '@Url.Action("Index","Home")';
                },
                onFailure: function (err) {
                    mui.toast(err);
                }
            };
            $.lsAjax(options);
        });
        //乘客发布信息
        $("#btnPublishMsgOfPassenger").click(function () {
            var data = $("#MsgOrPassenger-form").serialize();
            data+="&MessageType=1";
            var options = {
                url: '@Url.Action("PublishMessage")',
                type: 'post',
                dataType: 'json',
                data:data,
                onSuccess: function (data) {
                    window.location = '@Url.Action("Index","Home")';
                },
                onFailure: function (err) {
                    mui.toast(err);
                }
            };
            $.lsAjax(options);
        });
    });
</script>